.BurgerConstructor {
  width: 600px;
  height: 912px;
}
.Item {
  width: 100%;
  display: grid;
  column-gap: 8px;
  grid-template-columns: min-content max-content;
  height: min-content;
  align-items: center;
}
.BurgerList {
  height: 616px;
  overflow: scroll;
  align-content: start;
  display: grid;
  row-gap: 16px;
}

.BurgerList::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
.BurgerList::-webkit-scrollbar-track {
  background: #2f2f37;
}
.BurgerList::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.Order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: min-content;
  gap: 40px;
}
.Total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
