.item {
  width: 100%;
  display: grid;
  column-gap: 8px;
  grid-template-columns: min-content 530px;
  height: min-content;
  align-items: center;
}
.constructor__element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid #2f2f37;
}
.constructor__element__img {
  position: absolute;
  top: 10px;
  left: -65px;
  background-size: cover;
  height: 40px;
  width: 60px;
}

.constructor__element__container {
  display: flex;
  width: 85%;
  gap: 8px;
  height: min-content;
}
.constructor__element__img__container {
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}
.button {
  background-color: inherit;
  border: none;
}
.image__container__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .item {
    display: flex;
    position: relative;
  }
  .constructor__element__title {
    width: 100%;
  }
}
.delete {
  position: absolute;
  right: -146px;
  width: 144px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
