.image {
  width: 480px;
  height: 240px;
}
.ingredient_info {
  text-align: center;
}
.grid {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 520px;
  gap: 20px;
  color: #8585ad;
}

@media (max-width: 700px) {
  .ingredient_info {
    padding-top: 150px;
  }
  .image {
    width: 240px;
    height: 120px;
  }
  .grid {
   padding: 0;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 30px;
 
  }
  .grid__container {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
}
