.burger__ingredients {
  width: 600px;
  height: 912px;
}
.subtitle {
  margin: 0;
  padding: 0;
}
.section {
  margin: 0;
  padding-left: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 22px;
  row-gap: 36px;
}
.ingredients__list {
  width: 600px;
  height: 636px;
  overflow: scroll;
}
.ingredients__list::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
.ingredients__list::-webkit-scrollbar-track {
  background: #2f2f37;
}
.ingredients__list::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.scrollbar__mobile {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #1c1c21;
  height: 72px;
  right: 0;
  left: 0;
}
.scrollbar__mobile__container {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.button__mobile {
  height: 32px;
}
.scrollbar {
  display: flex;
}
.line {
  box-shadow: inset 0px -1px 0px #2f2f37;
  background-color: #131316;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #8585ad;
  transition: 0.4s;
}
.line_active {
  box-shadow: inset 0px -2px 0px #4c4cff;
  pointer-events: none;
  color: #f2f2f3;
}
.tab__button {
  cursor: pointer;
}


@media (max-width: 700px) {
  .burger__ingredients {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
  }
  .title {
    padding-top: 30px;
    text-align: center;
  }
  .ingredients__list {
    max-width: 450px;
    width: 100%;
    height: 95%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .subtitle {
    padding-left: 10px;
  }
  .scrollbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .grid {
    column-gap: 8px;
    row-gap: 20px;
  }
}
